
body{
    position: relative;
    background-color: #f3f5fc;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 31.09px;
    height: 48px;
    left: 40px;
    top: 40px;
}